lement.style {
}
.password-page__wrapper.text-center {
}
.password-page__wrapper.text-center {
}
.template-password .password-page__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.template-password {
    height: 100vh;
    text-align: center;
}
body, input, textarea, button, select {
    font-size: 10px;
    font-family: Eurostile Next, serif;
    font-style: normal;
    font-weight: 400;
    color: #9f9f9f;
    line-height: 1.6;
}
body, input, textarea, button, select {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
injected stylesheet
:host, :root {
    --rem: 16;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}